* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    padding: 5px;
}

#above-nav {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}

#above-nav img {
    width: 70px;
}

#above-nav h1 {
    font-family: 'Courier New', Courier, monospace;
}

nav ul{
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
}
nav ul li {
    width: 100%;
    text-align: center;
    background-color: gray;
}
nav ul li a {
    display: block;
    font-family: 'Franklin Gothic Medium';
    padding: 10px;
    color: white;
    text-decoration: none;
}
nav ul li a:hover {
    color: gray;
    background-color: white;
}